# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:ARTIFACTS <ARTIFACTS:ARTIFACTS.cfg>
    S:BOBMOWZIE <BOBMOWZIE:BOBMOWZIE.cfg>
    S:DAVEYX0 <DAVEYX0:DAVEYX0.cfg>
    S:FATHERTOAST <FATHERTOAST:FATHERTOAST.cfg>
    S:FISHMOD <FISHMOD:FISHMOD.cfg>
    S:LITEWOLF101 <LITEWOLF101:LITEWOLF101.cfg>
    S:LOGICTECHCORP <LOGICTECHCORP:LOGICTECHCORP.cfg>
    S:ME <ME:ME.cfg>
    S:ORG <ORG:ORG.cfg>
    S:OVH <OVH:OVH.cfg>
    S:PROGWML6 <PROGWML6:PROGWML6.cfg>
    S:THEDARKCOLOUR <THEDARKCOLOUR:THEDARKCOLOUR.cfg>
    S:TOROCRAFT <TOROCRAFT:TOROCRAFT.cfg>
    S:UNORIGINAL <UNORIGINAL:UNORIGINAL.cfg>
    S:VALOEGHESE <VALOEGHESE:VALOEGHESE.cfg>
    S:VAZKII <VAZKII:VAZKII.cfg>
    S:VIBRANTJOURNEYS <VIBRANTJOURNEYS:VIBRANTJOURNEYS.cfg>
    S:WILY <WILY:WILY.cfg>
    S:XZEROAIR <XZEROAIR:XZEROAIR.cfg>
    S:atomicstryker <IM:InfernalMobs.cfg>
    S:drzhark <MOC:MoCreatures.cfg>
    S:primitivemobs <PM:PrimitiveMobs.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


